@font-face {
    font-family: my-app-icon;
    src: url("my-app-icon.eot");src: url("my-app-icon.eot?c93e9cbe#iefix") format("embedded-opentype"),
             url("my-app-icon.woff2?c93e9cbe") format("woff2"),
             url("my-app-icon.woff?c93e9cbe") format("woff"),
             url("my-app-icon.ttf?c93e9cbe") format("truetype"),
             url("my-app-icon.svg?c93e9cbe#my-app-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

.pw-msk, .pw-msk input[type=text] {
    font-family: 'my-app-icon';
}

.pw-msk ::placeholder {
    font-family: initial;
}

.pw-msk ::-moz-placeholder{
     font-family: initial;
 }

[class^="my-icon"], [class*=" my-icon"] {
    font-family: 'my-app-icon' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.my-icon-bookmark::before {
    content: "\554a";
}

.my-icon-calendar::before {
    content: "\554b";
}

.my-icon-camera::before {
    content: "\554c";
}

.my-icon-chat::before {
    content: "\554d";
}

.my-icon-check::before {
    content: "\554e";
}

.my-icon-state-beinvited::before {
    content: "\554f";
}

.my-icon-success::before {
    content: "\5550";
}

.my-icon-warning::before {
    content: "\5551";
}

.my-icon-pwd_msk::before {
    content: "\7f";
}

